extends layout.pug
include utils.pug
append head
    link(rel="stylesheet" href="/stylesheets/about.css")
    script(src="https://kit.fontawesome.com/258a758bfe.js" crossorigin="anonymous")
block content
    div(class="main-content")
        h1 Developers
        div(class="developers-grid")

            +developerContent("Danny Shoun", "https://github.com/danielshoun", "https://www.linkedin.com/in/daniel-shoun/")
            +developerContent("Jose Solis", "https://github.com/Tonomatic", "https://www.linkedin.com/in/jose-solis-17940b71/")
            +developerContent("John Witter", "https://github.com/John-Witter", "https://www.linkedin.com/in/john-witter-witlacil-556a3b158/")
            +developerContent("Nurs Asanov", "https://github.com/nasanov", "https://www.linkedin.com/in/nursultan-asanov/")
        div(class='attributions-container')
            h1 Attributions
            p Icons from Font Awesome used under the CC BY 4.0 license.
