.mainContent {
    width: 600px;
		margin: 0 auto -130px;
		min-height: 100%;
}

.listsTable {
    width: 100%;
    border-collapse: separate;
    background: #fefcfb;
    border-radius: 5px;
    margin: 30px auto 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.listsTable > thead {
    border-radius: 5px;
}

.listsTable > thead > tr > th {
    font-weight: 400;
    color: #fefcfb;
    background-color: #0a1128;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 20px;
    border-top: 1px solid #cccccc;
}

.listsTable > thead > tr > th:first-child {
    border-top-left-radius: 5px;
}

.listsTable > thead > tr > th:last-child {
    border-top-right-radius: 5px;
}

.listsTable > tbody > tr > td {
    color: #5c5c5c;
    padding: 20px;
    border-bottom: 1px solid #cccccc;
    text-align: center;
}

.listsTable > tbody > tr:last-child > td {
    border-bottom: none;
}

.listsTable > tbody > tr:last-child > td:first-child {
    border-bottom-left-radius: 5px;
}

.listsTable > tbody > tr:last-child > td:last-child {
    border-bottom-right-radius: 5px;
}

.listsTable > tbody:hover > tr > td {
    opacity: 0.5;
}

.listsTable > tbody:hover > tr:hover > td {
    text-shadow: none;
    color: #5c5c5c;
    opacity: 1.0;
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
}

.deleteAllButton {
    border-radius: 5px;
    margin-bottom: 5px;
}

.confirmButton {
    border-radius: 5px;
    margin: 0 5px;
}

.list-settings-error {
    font-size: 12px;
    color: #c44536;
}