.movie-details-container {
	width: 1000px;
	margin: 0 auto;
	background-color: white;
	padding: 30px;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.detail-container {
	display: grid;
	grid-template-areas:
		'title title'
		'poster details';
	/* grid-template-rows: */
	grid-template-rows: 20px 1fr;
	grid-template-columns: 300px 400px;
	row-gap: 10px;
	column-gap: 15px;
	margin-bottom: 20px;
}

.movie-title {
	grid-area: title;
	font-size: 20px;
	font-weight: 600;
}

.movie-poster {
	grid-area: poster;
	display: flex;
	flex-direction: column;
}

.movie-poster > img {
	border-radius: 5px;
	margin-bottom: 10px;
}

.movie-details {
	grid-area: details;
}

.detail-name {
	font-weight: 600;
}

.detail-entry {
	/* display:flex;
	justify-content:space-between;
	flex-wrap: wrap; */
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	margin-bottom: 5px;
}

.movie-poster > .dropdown-list {
	margin: 0 auto;
	justify-self: center;
}

h3 {
	display: inline;
}

#edit-review-button {
	padding-left: 20px;
}

.own-review-icon {
	padding: 0 5px;
}

.add-to-list-container {
	margin: 0 auto;
}

.add-to-list-button {
	margin-left: 10px;
}

.rating-container {
	margin: 0 auto;
	float: left;
	height: 50px;
	padding: 0 10px;
}

.rating-container:not(:checked) > input {
	position: absolute;
	top: -9999px;
}

.rating-container:not(:checked) > label {
	float: right;
	width: 1em;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	font-size: 30px;
	/*color: #ccc;*/
}

.rating-container:not(:checked) > label:before {
	content: '★ ';
}

.rating-container > input:checked ~ label {
	color: #ffa630;
}

.rating-container:not(:checked) > label:hover,
.rating-container:not(:checked) > label:hover ~ label {
	color: #deb217;
}

.rating-container > input:checked + label:hover,
.rating-container > input:checked + label:hover ~ label,
.rating-container > input:checked ~ label:hover,
.rating-container > input:checked ~ label:hover ~ label,
.rating-container > label:hover ~ input:checked ~ label {
	color: #c59b08;
}

.prev-rating {
	color: #c59b08;
}

.ErrorsList {
	list-style: none;
	margin-left: 20px;
}

.errorsContainer {
	border: 1px solid #c44536;
	padding: 10px;
	background-color: #FFb1b4;
	color: #c44536;
	border-radius: 5px;
	margin-bottom: 10px;
}
  
.review-rating {
	color: #c59b08;
	margin-left: 10px;
}
